<h1>Modifica Misurazione</h1>

<%= render 'form', misuration: @misuration %>

<%= link_to 'Visualizza', @misuration, class: "pure-button" %> |
<%= link_to 'Indietro', misurations_path, class: "pure-button" %>

