<h1>Editing Misuration Subscription</h1>

<%= render 'form', misuration_subscription: @misuration_subscription %>

<%= link_to 'Show', @misuration_subscription %> |
<%= link_to 'Back', misuration_subscriptions_path %>
