<p id="notice"><%= notice %></p>

<p>
  <strong>MAC sensore:</strong>
  <%= @misuration_subscription.sensor.mac %>
</p>

<p>
  <strong>Utente iscritto:</strong>
  <%= @misuration_subscription.user.email %>
</p>

<%= link_to 'Indietro', misuration_subscriptions_path, class: "pure-button" %>
