<h1>Editing Sensors Group Subscription</h1>

<%= render 'form', sensors_group_subscription: @sensors_group_subscription %>

<%= link_to 'Show', @sensors_group_subscription %> |
<%= link_to 'Back', sensors_group_subscriptions_path %>
