<p id="notice"><%= notice %></p>

<p>
  <strong>Gruppo:</strong>
  <%= @sensors_group_subscription.sensors_group.nome %>
</p>

<p>
  <strong>MAC sensore:</strong>
  <%= @sensors_group_subscription.sensor.mac %>
</p>

<%= link_to 'Indietro', sensors_group_subscriptions_path,class: "pure-button" %>
